﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Sanity API</title>
    <!-- Bootstrap -->
    <link href="public/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button><a href="/" class="navbar-brand">Sanity API</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li role="presentation" class="active"><a href="/#">Home</a></li>
                    <li role="presentation"><a href="/#!/emails/create">Create Email</a></li>
                    <li role="presentation"><a href="/#!/shardings">Shardings</a></li>
                    <li role="presentation"><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
    </div>
<div class="container" style="padding-top: 50px;">
    <section ng-view></section>
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="public/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="public/lib/angular/angular.js"></script>
    <script type="text/javascript" src="public/lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="public/lib/angular-resource/angular-resource.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="public/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--<script src="/lib/angular-bootstrap/ui-bootstrap.js"></script>-->
    <script src="public/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>


<!--<script type="text/javascript" src="/app.js"></script>
<script type="text/javascript" src="/services/email/emails.client.service.js"></script>
<script type="text/javascript" src="/controllers/email/emails.client.controller.js"></script>
<script type="text/javascript" src="/config/emails.client.routes.js"></script>-->


<!--<script type="text/javascript" src="build/javascript/bundle.js"></script>-->
<!-- Using CDN -->
    <!--http://d2h2cdu69pm686.cloudfront.net-->
<!--<script type="text/javascript" src="http://d2h2cdu69pm686.cloudfront.net/bundle.js"></script>-->
    <script type="text/javascript" src="<%= CDN %>/bundle.js"></script>
    
</body>
</html>