﻿<section data-ng-controller="EmailsController" data-ng-init="getEmails()">
    <h1>Emails</h1>
    <a role="button" class="btn btn-primary" href="/#!/emails/create">
        <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Create Email
    </a>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Subject</th>
            <th>Content</th>
            <th>Receipent</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Send Email</th>
        </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="email in emails">
                <td>
                    <a data-ng-href="#!/emails/{{email._id}}" data-ng-bind="email.subject"></a>
                </td>
                <td data-ng-bind="email.content"></td>
                <td data-ng-bind="email.recipients"></td>
                <td>
                    <a role="button" class="btn btn-primary" data-ng-href="#!/emails/{{email._id}}">
                        <span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;View
                    </a>
                </td>
                <td>
                    <a role="button" class="btn btn-primary" data-ng-href="#!/emails/{{email._id}}/edit">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
                    </a>
                </td>
                <td>
                    <button class="btn btn-danger" data-ng-click="delete(email)">
                        <span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Delete
                    </button>
                </td>
                <td>
                    <button class="btn btn-primary" data-ng-click="sendEmail(email)">
                        <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Send Email
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- this is the paging control -->
    <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage"></uib-pagination>
    <!-- end -->
</section>